/*css for recommendations page*/

#recommendations {
    margin-top: 8px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 50px;
}

#recommendation-table table, th, td {
    width: 100%;
    border: 1.5px solid #f7f3e3a5; 
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

#recommendation-table tr:hover {
    background-color: #f7f3e32e;
}

#recommendation-table tr {
    /*make full row clickable*/
    position: relative;
}

#recommendation-table .row_link::after {
    /*make full row clickable*/
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
}

.comic_name {
    /* comic title in box, header*/
    color: #F77F00;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0px; /*reduce spacing between paragraphs*/
}

.url {
    color: #F77F00;
}

.description {
    color: #F7F3E3;
}

.tags {
    /*background-color: blue;*/
    height: 50px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tags ul li {
    display: inline;
    margin-right: 10px;
    padding: 10px;
    border: 1.5px solid #F7F3E3;
}